.pending {
  background-color: #d32f2f;
}

.new {
  background-color: #eed202;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.unassigned {
  background-color: #2196f3;
}

.completed {
  background-color: #00ab66;
}

.pending,
.new,
.unassigned,
.completed {
  font-family: OldSport;
  color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.16);
}
