.nav-bar {
  position: -webkit-sticky;
  position: sticky;
  float: left;
  top: 0;
  width: 100vw;
  background-color: #ffffff;
  z-index: 5;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.35);
}

.nav-icon {
  margin: 10px;
  border-radius: 50%;
  border: solid 2px #fcb426;
}
